---
import MainLayout from '../layouts/MainLayout.astro';
export const prerender = false;

const response = await fetch("https://mma2k.com/wp-json/wp/v2/posts?_embed&per_page=6");
const noticias = await response.json();
---
<MainLayout title="MMA2K | Home">
    <main class="max-w-7xl mx-auto py-20 px-6">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
            {noticias.map((post) => (
                <a href={`/${post.slug}`} class="group block">
                    <div class="aspect-video overflow-hidden rounded-3xl mb-4 bg-gray-900">
                        <img src={post._embedded?.['wp:featuredmedia']?.[0].source_url} class="w-full h-full object-cover group-hover:scale-105 transition-transform" />
                    </div>
                    <h2 class="text-3xl font-black uppercase italic text-white group-hover:text-red-600 italic" set:html={post.title.rendered} />
                </a>
            ))}
        </div>
    </main>
</MainLayout>